<div
	id="w0"
	class="grid-view is-bs4 kv-grid-bs4 hide-resize"
	data-krajee-grid="kvGridInit_0322b889"
	data-krajee-ps="ps_w0_container">
	<div class="summary">Showing <b>1-2</b> of <b>2</b> items.</div>
	<div
		id="w0-container"
		class="table-responsive kv-grid-container">
		<table class="kv-grid-table table table-bordered table-striped kv-table-wrap">
			<thead class="kv-table-header w0">
			<tr>
				<th data-col-seq="0"><a
					href="/base4/backend/web/index.php?r=product%2Findex&amp;sort=name"
					data-sort="name">Product Name</a></th>
				<th data-col-seq="1"><a
					href="/base4/backend/web/index.php?r=product%2Findex&amp;sort=description"
					data-sort="description">Description</a></th>
			</tr>
			<tr
				id="w0-filters"
				class="filters skip-export">
				<td data-col-seq="0"><input
					type="text"
					class="form-control"
					name="ProductSearch[name]"></td>
				<td data-col-seq="1"><input
					type="text"
					class="form-control"
					name="ProductSearch[description]"></td>
			</tr>
			</thead>
			<tbody>
			<tr
				class="w0"
				data-key="2">
				<td
					class="w0"
					data-col-seq="0">raehfgdj
				</td>
				<td
					class="w0"
					data-col-seq="1">sdfgsdgsdg
				</td>
			</tr>
			<tr
				class="w0"
				data-key="3">
				<td
					class="w0"
					data-col-seq="0">Global Thread T Shirt
				</td>
				<td
					class="w0"
					data-col-seq="1">Baju T Shirt bergaya programmer astetik
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
